 /* layout */
 .layout-style {
    background-color: #F0F9F9;
    font-family: mulish;
    font-size: 14px;
    padding-bottom: 2.5rem;
    width: 100%;
}

/* btn primary */
.btn-primary {
    width: 100%;
    background-color: #01bfbf;
    border-color: #01bfbf;
    font-size: 14px;
}